@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Spline Sans', sans-serif;
    color: #777;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: #222;
}
a{
    color: #222;
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover{
    color: #F58d17;
}
img{
  width: 100%;
}
section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/*btn*/
.btn{
border-radius: 0;
padding: 14px 38px;
}
.btn-brand{
color: #fff;
font-weight: 500;
border-color: #F58d17;
background-color: #F58d17;
}
.btn-brand:hover{
    border-color: #ca7310 !important;
    background-color: #ca7310 !important;
    color: #fff !important;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.shadow-on-hover{
    transition: all .02s;
}
.shadow-on-hover:hover{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
/*slider*/
.slide-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/blog2.jpg);
}
.slide-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/blog3.jpg);
}
.carousel-control-prev,
.carousel-control-next{
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
} 
#about span{
    display: block;
    width: 60px;
    height: 2px;
    background-color: #F58d17;
}
/*intor-text*/
.intor-text{
    margin-bottom: 40px;
    text-align: center;
}
.intor-text p{
    max-width: 500px;
    margin: 16px auto 0 auto;
}
/*menu*/
#menu .nav-pills .nav-link{
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
#menu .nav-pills .nav-link.active{
    background-color: #F58d17;
    color: #FFFFFF;
}
.menu-item .stars{
 color: #F58d17;
}
/*features*/
#features{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/blog9.jpg);
}
.feature{
    border: 2px solid rgba(255, 255, 255, 0.2);
}
.feature .feature-icon{
    width: 80px;
    height: 80px;
    background-color: #F58d17;
    color: #FFF;
    font-size: 28px;
    display:inline-grid;
    align-items: center;
    text-align: center;
}
/*TEAM*/
.team-member img{
    max-width: 140px;
    box-shadow: -10px -10px 0 #F58d17;
    border-radius: 100px;
}
/*Reviews*/
#reviews{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/blog2.jpg);
}
.review img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.review .quote-icon{
    font-size: 74px;
    color: #F58d17;
    line-height: 1;
}
.review .stars{
    color: #F58d17;
}
#reviews .carousel-indicators{
    margin-bottom: -3rem !important;
}
/*reservation*/
#reservation .form-control{ 
border-radius: 0;
}
#reservation .form-control:focus{
    box-shadow: none;
    border-color: #F58d17;
}
#reservation input.form-control{
    height: 47px;
}
/*insta-posts*/
.insta-posts{
    position: relative;
    overflow: hidden;
}
.insta-posts .instra-btn{
width: 90px;
height: 90px;
background-color: #FFF;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 50%;
left: 50%;
font-size: 26px;
transform: translate(-50%,-50%);
opacity: 0;
}
.insta-posts img{
    transition: all 0.4s;
}
.insta-posts:hover img{
transform: scale(1.2);
}
.insta-posts:hover .instra-btn{
    opacity: 1;
}
/*blog-post */
.blog-post  img{
    width: 40%;
    object-fit: cover;
}
@media (max-width:768px){
    .blog-post{
        flex-direction: column;
    }
    .blog-post img{
        width: 100%;
    }
}
/*footer*/
footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../images/blog2.jpg);
    padding-top: 120px;
    padding-bottom: 30px; 
}
footer p,
footer a{
color: rgba(255, 255, 255, 0.75);
}
footer img{
    max-width: 175px;
}
.footer-top{
    margin-bottom: 30px;
}
footer .social-links a{
    font-weight: normal;
    font-size: 24px;
    margin-right: 10px;
}
.footer-bottom{
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}